$orange: #f39c12;
$turqoise: #1abc9c;
$dark-blue: #34495e;
$light-gray: #ebebeb;
$medium-gray: #888888;
$dark-gray: #333333;
$white: #ffffff;

$primary-color: $turqoise;
$background-color: $light-gray;

$brand-primary: $primary-color;

$ionicons-font-path: "../fonts/ionicons";

$grid-gutter-width: 30px;
$container-tablet:             (738px + $grid-gutter-width) !default;
$container-desktop:            (738px + $grid-gutter-width) !default;
$container-large-desktop:      (738px + $grid-gutter-width) !default;
